.detail{
    padding-bottom: 2%;
}

.header {
    padding-bottom: 2%;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}

.key {
    color: brown;
}

.value-1 {
    padding-left: 13%;
}

.value-2 {
    padding-left: 2%;
}

.value-3 {
    padding-left: 6%;
}

.value-4 {
    padding-left: 3%;
}