<div class="view-model">
   <div class="header"> Details of your Todo {{data.title}} </div>
   <div class="detail">
      <span class="key">Title:</span> 
      <span class="value">{{data.title}}</span>
   </div>
   <div class="detail">
      <span class="key">Description:</span>
      <span class="value">{{data.description}}</span>
   </div>
   <div class="detail">
      <span class="key">Due Date:</span>
      <span class="value">{{data.dueDate}}</span>
   </div>
   <div class="detail">
      <span class="key">Completed:</span>
      <span class="value">{{data.completed}}</span>
   </div>
</div>


