<div class="view-model">
   <div class="header"> Details of your Todo {{data.title}} </div>
   <div class="detail">
      <span class="key">Title:</span> 
      <span class="value value-1">{{data.title}}</span>
   </div>
   <div class="detail">
      <span class="key">Description:</span>
      <span class="value value-2">{{data.description}}</span>
   </div>
   <div class="detail">
      <span class="key">Due Date:</span>
      <span class="value value-3">{{data.dueDate | date:'short'}}</span>
   </div>
   <div class="detail">
      <span class="key">Completed:</span>
      <span class="value value-4">{{data.completed}}</span>
   </div>
</div>


